<!doctypeHTML>
<html lang="en">

<head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.16/angular.js"></script>
<script language="javascript" type="text/javascript" src="app.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="style.css">

</heady>


	<!-- command + slash -->
	<!-- this tells app.js & index.html that they're linked <3 -->
	<body ng-app="toDoApp">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<div ng-controller="ToDoListCtrl">
						<h1>{{toDoListName}}</h1>	
							<!-- this line is the input. ng-model binds the myInputText variable to the ToDoListCtrl ng-controller above -->
						<input ng-model="myInputText" type="text"/>
						
						<!--  this duplicates what i put in to the variable in real time: {{myInputText}} -->
						<button ng-click="submitItem()">submit</button>
						<div ng-show="errorMsg">YOU ARE WRONG</div>
						<div class="row">
							<div class="col-xs-4 col-xs-offset-4">
								<!-- ng-repeat is an iterator. for each item (let's call it toDoItem) in the toDo array, the prexisting array already in the controller, do the following. in this one, the input and the span  -->
								<div ng-repeat="toDoItem in toDo track by $index">
									<input type="checkbox" ng-model="toDoItem.completed" ng-change="addToDone(toDoItem)" />

								<span>{{toDoItem.text}}</span>
								</div>
								<hr>
								<h1>DONE</h1>
								<div ng-repeat="thing in done track by $index">
									<input type="checkbox" ng-model="thing.completed"/>
									<span>{{thing.text}}</span>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>

</html>